.funny-glasses {
  position: relative;
  bottom: 108px;
  left: 213px;
}

.bandana {
  position: absolute;
  bottom: 75px;
  right: 455px;
}

.pawprint {
  position: fixed;
  top: 47px;
  left: 66px;
}

.luna {
  position: sticky;
  left: 1em;
}

.top-hat {
  position: relative;
  z-index: 1;
}
